<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aracne_leg1">
  <xacro:include filename="materials.xacro"/>
  <xacro:include filename="leg.xacro"/>

  <xacro:arg name="leg_coxa_length" default="0.05"/>
  <xacro:arg name="leg_femur_length" default="0.09"/>
  <xacro:arg name="leg_tibia_length" default="0.11"/>
  <xacro:arg name="joint_limits_coxa_lower" default="-1.57"/>
  <xacro:arg name="joint_limits_coxa_upper" default="1.57"/>
  <xacro:arg name="joint_limits_femur_lower" default="-0.78"/>
  <xacro:arg name="joint_limits_femur_upper" default="1.57"/>
  <xacro:arg name="joint_limits_tibia_lower" default="-2.09"/>
  <xacro:arg name="joint_limits_tibia_upper" default="0.0"/>

  <ros2_control name="aracne_leg1_controller" type="system">
    <hardware>
      <plugin>gz_ros2_control::GazeboSystem</plugin>
    </hardware>
    <joint name="leg1_coxa_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="leg1_femur_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="leg1_tibia_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <xacro:leg
    leg_prefix="leg1"
    leg_coxa_length="${leg_coxa_length}"
    leg_femur_length="${leg_femur_length}"
    leg_tibia_length="${leg_tibia_length}"
    joint_limits_coxa_lower="${joint_limits_coxa_lower}"
    joint_limits_coxa_upper="${joint_limits_coxa_upper}"
    joint_limits_femur_lower="${joint_limits_femur_lower}"
    joint_limits_femur_upper="${joint_limits_femur_upper}"
    joint_limits_tibia_lower="${joint_limits_tibia_lower}"
    joint_limits_tibia_upper="${joint_limits_tibia_upper}"
  />

  <gazebo>
    <plugin name="gz_ros2_control" filename="libgz_ros2_control_gazebo.so">
      <ros2_control>
        <hardware>
          <plugin>gz_ros2_control::GazeboSystem</plugin>
        </hardware>
      </ros2_control>
    </plugin>
  </gazebo>
</robot>
